# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ARImageTracking.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Tom\Documents\Projects\Unity\ARImageTracking\.idea\.idea.ARImageTracking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
